{% extends 'block.html.twig' %}
{% block content %}
    <h2 class="visible-xs">Around MU Health Care</h2>
    <div class="slick" data-slick='{{ '{"slidesToScroll": 1, "slidesToShow": 4, "arrows": true, "variableWidth": true}' }}'>
        {% for article in content.relatedArticles %}
          {% if loop.index0 % 2 == 0 %}
            {% if not loop.first %}
              </div>
            {% endif %}
            <div class="slide">
          {% endif %}
          {{ article }}
          {% if loop.last %}
            </div>
          {% endif %}
        {% endfor %}
    </div>
    <div class="links col-sm-offset-1 col-lg-offset-2 ">
  	<h2 class="hidden-xs">Around MU Health Care</h2>
  	{{ content.featuredArticles }}
	<a href="{{ path('muhc_around.view') }}" class="btn btn-yellow">View All</a>
  </div>
{% endblock %}