.main {
    .content-top {
        + .content {
            padding-top:20px;
        }
        h1 {
            text-transform:none;
            font-size:55px;
            margin:0 0 30px;
        }
        .breadcrumb {
            margin-top:15px;
        }
    }
    .content {
        .main {         
            article {
                a {
                    color:#144b90;
                    text-decoration:underline;            
                }
                ul:not(.contextual-links):not(.unstyled):not(.dropdown-menu){
                    list-style-type:none;
                    padding-left:20px;
                    margin-bottom:30px;
                    li {
                        position:relative;
                        font-size:18px;
                        + li {
                            margin-top:5px;
                        }
                        &::before {
                            color: $yellow;
                            content: "\2022";
                            display: block;
                            font-size: 28px;
                            left: -20px;
                            line-height: 20px;
                            position: absolute;
                            top: 0;
                            vertical-align: top;
                        }
                    }
                }
                .tags {
                    margin-bottom:30px;
                    .tag {
                        display:inline-block;
                        vertical-align:top;
                        margin:0 15px 15px 0;
                        a {
                            background:$xl-blue;
                            padding:10px 15px;
                            text-decoration:none;
                            display:block;
                            @include transition(background .3s linear);
                            &:hover {
                                background:darken($xl-blue, 20%);
                            }
                        }        
                    }
                }
                .cta-block {
                    border: 10px solid $yellow;
                    display: inline-block;
                    margin: 20px 0;
                    padding: 20px;
                    font-size:22px;
                    a {
                        font-size: 30px;
                        font-weight: 700;
                        letter-spacing: 1px;
                        margin: 30px 0 18px;
                        text-transform: uppercase;
                        color:$gray;
                        text-decoration:none;
                        &:hover {
                            text-decoration:underline;
                        }
                    }
                }
            }
        }
        .sidebar {
            .serviceline-toggle {
                color: $yellow;
                font-family: $font-pnc;
                font-size: 20px;
                font-weight:500;
                letter-spacing: 1px;
                text-transform: uppercase;
                position:relative;
                cursor:pointer;
                &::after {
                    content:"";
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 10px 17.3px 10px;
                    border-color: transparent transparent $yellow transparent;
                    position:absolute;
                    right:0;
                    bottom:6px;
                    @include rotate(0);
                    @include transition(transform .3s linear);
                    @include transform-origin(50%);
                    .serviceline-close &{
                        @include rotate(180);
                    }
                }
                + nav {
                    max-height: 500px;
                    overflow: hidden;
                    @include transition(max-height .3s cubic-bezier(0.0, 0.0, 0.2, 1));
                    .serviceline-close &{
                        max-height:0;
                    }
                    ul {
                        padding-top:15px;
                    }
                }
            }
            .rail-cta {
                background:$xl-yellow;
                padding:30px;
                h3 {
                    text-transform:uppercase;
                    font-size:22px;
                    margin-top:0;
                    position:relative;
                    &::after {
                        content: "";
                        display: block;
                        margin-top: 15px;
                        width: 25%;
                        border-bottom:5px solid $yellow;
                    }
                }
                p {
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 0;
                }
                + .rail-addition {
                    background:#D9CEB9;
                    padding:30px;
                    position:relative;
                    &::before {
                        content:"";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 10px 10px 10px;
                        border-color: transparent transparent #d9ceb9 transparent;
                        position:absolute;
                        bottom:100%;
                        left:30px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 0;
                        font-family:$font-pnc;
                    }
                }
            }
            #block-treatments {
                @include transition(padding .3s linear);
                .serviceline-close &{
                    padding:0 20px;
                }
                nav {
                    max-height: 500px;
                    overflow: hidden;
                    @include transition(max-height .3s cubic-bezier(0.0, 0.0, 0.2, 1));
                    .serviceline-close &{
                        max-height:0;
                    }                      
                }
            }
            nav {
                h4 {
                    margin-bottom:20px;                    
                }
                ul {
                    list-style-type:none;
                    padding:0;
                    li {
                        font-family:$font-pnc;
                        font-weight:500;
                        letter-spacing:1px;
                        font-size:18px;
                        + li {
                            margin-top:20px;
                        }
                    }
                }
            }
        }
        .treatments-list {
            background:$xl-blue;
            padding:30px;
            margin-top:30px;
            h2 {
                margin:0 0 20px 0;
            }
            ul {
                max-height:400px;
                overflow-y:auto;
                li {
                    font-size:18px;
                    line-height:26px;
                    margin:0 0 20px 0;
                    width:48%;
                    display:inline-block;
                    @include breakpoint(xs) {
                        width:100%;
                        display:block;
                    }
                    &:nth-of-type(2n) {
                        margin-left:2%;
                        @include breakpoint(xs) {
                            margin-left:0;
                        }
                    }
                    a {
                        text-decoration:none;
                        &:hover {
                            text-decoration:underline;
                        }
                    }
                }
            }
        }
    }
}