.global-search {
    display:none;
    padding: 60px;
    position: absolute;
    width: 100%;
    z-index: 99;
    top:160%;
    left:0;
    background:rgba($gray,.95);
    @include breakpoint(xs) {
        height:100vh;
        top:141%;
        padding:20px;
    }
    .search-open &{
        display:block;
    }
    .search-toggle {
        position:absolute;
        background:$yellow;
        color:#000;
        top:20px;
        right:20px;
        font-size: 24px;
        line-height: 20px;
        padding: 5px 10px;
        @include breakpoint(xs) {
            display:none;
        }
    }
    .input-group {
        width:100%;
        input {
            background:none;
            border:none;
            border-bottom:1px solid #fff;
            font-size: 50px;
            font-weight: 300;
            color:#fff;
            line-height:52px;
            height: auto;
            text-transform: none;
            padding-left:0;
            @include transition(border .3s linear);
            @include breakpoint (xs) {
                font-size:35px;
                padding:0;
            }
            @include placeholder {
                color:#fff;
            }
            &:active, &:hover, &:focus {
                border-bottom:1px solid $yellow;
                box-shadow:none;
            }
        }
        .btn-search {
            background: none;
            font-size: 55px;
            line-height: 44px;
            padding: 5px 0;
            position: absolute;
            right: 15px;
            top: 0;
            color:#fff;
            z-index:99;
            @include transition(color .3s linear);
            @include breakpoint (xs) {
                font-size:45px;
                padding:0;
            }
            &:active, &:hover {
                color:$yellow;
            }
        }
    }
    
}
.muhc-around-search-form {
    .btn-search {
        background:none;
        font-size: 48px;
        line-height: 30px;
        padding: 0px 20px;
        position: absolute;
        right: 15px;
        top: 0;
        color:$lt-gray;
    }
    .item {
        position:relative;
        margin-top:30px;
        &::before {
            @include imgGradient;
        }
        .blurb {
            position:absolute;
            left:0;
            bottom:0;
            width:100%;
            padding:20px;
            text-decoration:none;
            .date {
                color:#fff;
                text-decoration:none;
                text-transform:uppercase;
            }
            h3 {
                color:#fff;
                text-decoration:none;
                font-family:$font-pnc;
                font-weight:400;
                font-size:24px;
                margin:10px 0 0 0;
            }
        }
    }
}