@font-face {
    font-family: 'avantgarde';
    src: url('/themes/mdspca/fonts/avant_garde_book_bt.eot');
    src: url('/themes/mdspca/fonts/avant_garde_book_bt.eot?#iefix') format('embedded-opentype'),
         url('/themes/mdspca/fonts/avant_garde_book_bt.woff2') format('woff2'),
         url('/themes/mdspca/fonts/avant_garde_book_bt.woff') format('woff'),
         url('/themes/mdspca/fonts/avant_garde_book_bt.ttf') format('truetype'),
         url('/themes/mdspca/fonts/avant_garde_book_bt.svg#avantgarde_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'icomoon';
  src:  url('/themes/mdspca/fonts/icomoon.eot?jffoe1');
  src:  url('/themes/mdspca/fonts/icomoon.eot?jffoe1#iefix') format('embedded-opentype'),
    url('/themes/mdspca/fonts/icomoon.woff2?jffoe1') format('woff2'),
    url('/themes/mdspca/fonts/icomoon.ttf?jffoe1') format('truetype'),
    url('/themes/mdspca/fonts/icomoon.woff?jffoe1') format('woff'),
    url('/themes/mdspca/fonts/icomoon.svg?jffoe1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-send:before {
  content: "\f0e0";
}
.icon-skinny-arrow-right:before {
  content: "\e907";
}
.icon-skinny-arrow-left:before {
  content: "\e908";
}
.icon-eye-close:before {
  content: "\e905";
}
.icon-eye-open:before {
  content: "\e906";
}
.icon-chevron-left:before {
  content: "\e903";
}
.icon-chevron-right:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-instagram:before {
  content: "\f16d";
}

.typography {
    h1 {
    }
    i {
        font-size:24px
    }
    .example {
        border:1px solid darken(#f5f5f5, 20%);
        padding:30px 10px 10px;
        position:relative;
        &::after {
            background-color: #ebebeb;
            border: 1px solid #dddddd;
            border-radius: 0 0 4px 0;
            color: #9da0a4;
            content: "Example";
            font-size: 12px;
            font-style: normal;
            font-weight: bold;
            left: -1px;
            padding: 3px 7px;
            position: absolute;
            top: -1px;
        }
        + code, + .codeblock {
            background:#f5f5f5;
            border:1px solid darken(#f5f5f5, 20%);
            border-top:0;
            color:#333;
            display:block;
            border-radius:0;
            padding:10px;
            code {
                background:none;
                border:none;
                padding:0;
            }
        }
    }
    .row {
        + .row {
            margin-top:30px;
        }
    }
}