/*COLORS*/
$xl-gray: #f0f0f0;
$lt-gray: #d8d8d8;
$md-gray: #3c3d40;
$gray: #231F20;
$teal: #3aabc6;
$green: #aac639;
$pink: #c63963;

/*FONTS*/
$font-pn: proxima-nova, sans-serif;
$font-pnc: proxima-nova-condensed, sans-serif;
$font-ag: avantgarde;