/*COLORS*/
$xl-gray: #f0f0f0;
$lt-gray: #9d9d9d;
$md-gray: #3c3d40;
$gray: #231F20;
$xl-yellow: #F3F0EA;
$yellow: #F2B931;
$blue: #144b90;
$xl-blue :#f0f3f7;
$red: #f25931;

/*FONTS*/
$font-pn: proxima-nova, sans-serif;
$font-pnc: proxima-nova-condensed, sans-serif;