<div class="featured-item lg">
    <a href="{{ url }}">
    
      {{ content.field_featured_image }}
      <div class="blurb">
            <h2>{{ label }}</h2>
            {{ content.field_subtitle }}
        </div>
    </a>
</div>