<div class="col-xs-12 col-sm-6">
    <article class="item">
        <a href="{{ url }}">
          <div class="img">{{ content.field_featured_image }}</div>
          <div class="blurb">
              <div class="date">{{ node.created.value|date('F j, Y') }}</div>
              <h3 class="title">{{ label }}</h3>
          </div>
        </a>
    </article>
</div>